#main{
    background-color:grey;
    display: flex;
    align-items: center;
    
}
#menu{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    align-items: center;
    text-decoration: none;
}
#menu li  {
    list-style: none;
    text-decoration: none;
}
#menu ul li select option{
    text-decoration: none;
    border: none;
    
}
#name{
    text-decoration: none;
    background-color: grey;
    color: black;
}
#menu li a{
    text-decoration: none;
    color: black;
}
#image{
    height: 50px;
    width: 150px;
}
button{
    background-color: gray;
    height: 30px;
    width: 100px;
    border-radius: 20px;
}