.imageDiv{
    height: 75px;
    display: flex;
}
.imageDiv img{
    height: 70px;
    width: 100px;
}
.imageDiv ul{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
}
.imageDiv ul li a{
    text-decoration: none;
    color: white;
}
input{
    background-color: rgb(7, 7, 146);
    border: 2px solid rgb(7, 7, 146);;
    height: 25px;
    color: white;
}
.searchLogo{
    height: 20px;
    width: 20px;
    align-items: center;
    color: white;
}
.subscribe{
    height: 30px;
    width: 100px;
    background-color: blue;
    color: white;
    border-radius: 7px;
    border: 1px solid blue;
    margin-left: 20px;
}
.login{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
#container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: rgb(7, 7, 146);
}
#secDiv{
    width: 500px;
    display: flex;
}
.secsub{
    display: flex;
    border-bottom: 1px solid white;
}